.loginWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

/*
:global(.modal-open):global(.unfixed) {
  .loginWrapper {
    position: fixed;
  }
}
*/

.notLoggedInWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notLoggedIn {
  margin: 1em;
  max-width: 38rem;;
}

/*
.notLoggedInCard {
  padding: 2em;

  button {
    @media only screen and (min-width: 48em) {
      width: auto;
    }
  }
}
*/

.subText {
  margin: 2em;
}
